@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvendio a la gestion de peliculas.</h1>
    <p>Gestione las peliculas navegando en el menu de arriba.</p>
</div>
